*{
  margin: 0;
  padding: 0;
}
.headr{
    text-align: center;
    margin: 20px;
    color: white;
  }
  body{
    background-color: rgb(66, 63, 63);
  }
  .blank{
    height: 500px;
    width: 500px;
    background-color: rgba(185, 175, 175, 0.484);
    position: absolute;
    top: 25%;
    left: 25%;
  }
  h1{
    text-align: center;
  }
  form{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  form input{
    margin-bottom: 25px;
  }
  