/* *{
  margin: 0;
  padding: 0;
}
.Nav{
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
  align-items: center;
  margin: auto;
}
.Nav li{
    padding-right: 20px;
   padding-top: 17px;
   font-size: 20px;
   border: 1px solid white;
   border-radius: 30px;
   margin-right: 10px;

}
.navlinks{
  background-color: gray;
  color: white;
  height: 55px;
}
.Nav{
  margin-right: 15px;
}
.na{
  padding: 10px;
} */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.nav{
  display: flex;
  flex-direction: row-reverse;
  height: 50px;
  width: 100%;
  background: grey;
  /* justify-content: center; */
  align-items: center;
}
.nav li{
  margin-right: 20px;
  border: 2px solid white;
  padding: 7px 30px;
  border-radius: 20px;
  color: white;
  
}
.nav li a{
  text-decoration: none;
  color: white;
}
